<ion-header>
  <ion-navbar>
    <ion-title>Band cochon</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="center">
    <img class="centered-image" src="assets/imgs/logo.png" />
  </div>

  <div *ngIf="!showMessage">
    <div>
      <p>L'adresse mail de votre compte pour recevoir un email de confirmation qui va vous donner un code. </p>
      <p>Ce code va vous permettre d'entrer un nouveau mot de passe.</p>
    </div>

    <ion-list>
      <ion-item>
        <ion-label stacked>Adresse email</ion-label>
        <ion-input type="email" placeholder="Votre adresse email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block (click)="onSendEmail()">Envoyer</button>
    <button ion-button block (click)="onIHaveACode()">J'ai un code !</button>
  </div>
  <div *ngIf="showMessage">
    <div>
      <p>L'adresse mail de votre compte pour recevoir un email de confirmation qui va vous donner un code. </p>
      <p>Ce code va vous permettre d'entrer un nouveau mot de passe.</p>
    </div>

    <ion-list>
      <ion-item>
        <ion-label stacked>Adresse email</ion-label>
        <ion-input type="email" placeholder="Votre adresse email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Votre code</ion-label>
        <ion-input type="text" placeholder="Entrez ici votre code de récupération" [(ngModel)]="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Votre nouveau mot de passe</ion-label>
        <ion-input type="password" placeholder="Entrez ici votre mot de passe" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Confirmation</ion-label>
        <ion-input type="password" placeholder="Entrez ici la confirmation de votre mot de passe" [(ngModel)]="confirm"></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button block (click)="onSendCode()">Envoyer</button>

  </div>
</ion-content>